<h1>Appointment</h1>
<h3>Date/Time:</h3>
    <p><%= @appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></p>
<h3>Patient:</h3>
    <p><%= link_to @appt.patient.name, @appt.patient %></p>
<h3>Doctor:</h3>
    <p><%= link_to @appt.doctor.name, @appt.doctor %></p>