<h1>Appointments</h1>

<h3>Date:</h3>
    <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %> 

<h3>Patient:</h3>
    <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> 

<h3>Doctor:</h3>
    <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> 
